doctype html
html
    head
        title Sniffr - #{title}
        meta(charset='utf-8')
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
        link(rel='stylesheet' href='../public/style.css')
        //- link(href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;700&family=Bellota+Text:wght@400;700&family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet")


        nav.navbar.navbar-default.sticky-top
            .container-fluid
                a.navbar-brand sniffr
                a.navlink(href='/feed') Smell Feed
                a.navlink(href='/mySmells') My Smells
                a.navlink(href='/logout') Logout
                

    body
        block content