extends index.pug
include _displaySmells

block content
    h1.center Here are your smells, #{username}
    .smell-cards
        +displaySmells(smellsArr)

    hr
    a(href="https://icons8.com/icons/set/dog").footer icons by Icons8
    script(src='../public/feed.js')