@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;700&family=Bellota+Text:wght@400;700&family=Ubuntu:wght@300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.border {
    border-style: inset;
    border-width: 1px;
    margin: 10px;
}
  
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#login-form {
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
}

.navbar {
    background-color: black;
    color: white;
    margin-bottom: 1em;
}

.navbar-brand {
    font-weight: bolder;
    font-size: xx-large;
    color: white;
}

.navlink {
    color: white;
    font-weight: 700;
    font-size: x-large;
}

.navlink:hover {
    color: #17a2b8;
    text-decoration: none;
}

.body {
    font-family: 'Baloo Chettan 2', cursive;
}

#title { 
    font-weight: bolder;
}

.smell-cards {
    margin-left: 5px;
    margin-right: 5px;
}

.post-smell-button {
    width: 100%;
    height: 96px;
    background-image: url('./icons/post-smell-button.png');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

@keyframes post-smell{
    0%{
        background-image: url('./icons/hover-dog-pee-1.png');
    }
    20%{
        background-image: url('./icons/hover-dog-pee-2.png');
    }
    40%{
        background-image: url('./icons/hover-dog-pee-3.png');
    }
    60%{
        background-image: url('./icons/hover-dog-pee-4.png');
    }
    80%{
        background-image: url('./icons/hover-dog-pee-5.png');
    }
    100%{
        background-image: url('./icons/hover-dog-pee-6.png');
    }
}

.post-smell-button:hover {
    width: 100%;
    height: 96px;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    animation: post-smell 1s infinite;
}

.oneSmell {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.card-header {
    display: grid;
}

.card-footer {
    display: flow-root;
}

.licks-and-poops-and-kicks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.licks-and-poops-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uplick-button {
    width: 48px;
    height: 48px;
    background-image: url('./icons/uplick-button-v2.png');
    background-size: cover;
    background-color: transparent;
    border-radius: 5px;
}

@keyframes uplick{
    0%{
        background-image: url('./icons/hover-uplick-1.png');
    }
    33%{
        background-image: url('./icons/hover-uplick-2.png');
    }
    67%{
        background-image: url('./icons/hover-uplick-3.png');
    }
    100%{
        background-image: url('./icons/hover-uplick-4.png');
    }
}

.uplick-button:hover {
    width: 48px;
    height: 48px;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    animation: uplick 1s infinite;
}

.uplick-button-success {
    width: 48px;
    height: 48px;
    background-image: url('./icons/uplick.png');
    background-size: cover;
    border-radius: 5px;
}

.uplick-count-success {
    color: #C30000;
    font-weight: bold;
}

.downpoop-button {
    width: 48px;
    height: 48px;
    background-image: url('./icons/hover-downpoop-1.png');
    background-size: cover;
    background-color: transparent;
}

@keyframes downpoop{
    0%{
        background-image: url('./icons/hover-downpoop-1.png');
    }
    25%{
        background-image: url('./icons/hover-downpoop-2.png');
    }
    50%{
        background-image: url('./icons/hover-downpoop-3.png');
    }
    75%{
        background-image: url('./icons/hover-downpoop-4.png');
    }
    100%{
        background-image: url('./icons/hover-downpoop-5.png');
    }
}

.downpoop-button:hover {
    width: 48px;
    height: 48px;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    animation: downpoop 1s infinite;
}

.downpoop-button-success {
    width: 48px;
    height: 48px;
    background-image: url('./icons/hover-downpoop-5.png');
    background-size: cover;
    border-radius: 5px;
}

.downpoop-count-success {
    color: #5A2A0A;
    font-weight: bold;
}

.kick-button {
    width: 100%;
    height: 48px;
    background-image: url('./icons/hover-kick-2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
}

@keyframes kick{
    0%{
        background-image: url('./icons/hover-kick-1.png');
    }
    50%{
        background-image: url('./icons/hover-kick-2.png');
    }
    100%{
        background-image: url('./icons/hover-kick-1.png');
    }
}

.kick-button:hover {
    width: 100%;
    height: 48px;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    animation: kick 1s infinite;
}

.smellTime {
    font-size: small;
}

.delete-smell {
    float: left;
}