@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;700&family=Bellota+Text:wght@400;700&family=Ubuntu:wght@300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.border {
    border-style: inset;
    border-width: 1px;
    margin: 10px;
}
  
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#login-form {
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
}

.navbar {
    background-color: black;
    color: white;
    margin-bottom: 1em;
}

.navbar-brand {
    font-weight: bolder;
    font-size: x-large;
    color: white;
}

.navlink {
    color: white;
    font-weight: 700;
}

.navlink:hover {
    color: lightseagreen;
    text-decoration: none;
}

.body {
    font-family: 'Baloo Chettan 2', cursive;
}

#title { 
    font-weight: bolder;
}

.post-smell-button {
    width: 96px;
    height: 96px;
    background-image: url('./icons/post-smell-button.png');
    background-color: transparent;
    background-size: cover;
    border: none;
}

.oneSmell {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.card-header {
    display: grid;
}

.card-footer {
    display: flow-root;
}

.licks-and-poops-and-kicks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.licks-and-poops-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uplick-button {
    width: 48px;
    height: 48px;
    background-image: url('./icons/uplick-button-v2.png');
    background-size: cover;
    background-color: transparent;
    border-radius: 5px;
}

.uplick-button-success {
    width: 48px;
    height: 48px;
    background-image: url('./icons/uplick.png');
    background-size: cover;
    border-radius: 5px;
}

.uplick-count-success {
    color: #C30000;
    font-weight: bold;
}

.downpoop-button {
    width: 48px;
    height: 48px;
    background-image: url('./icons/downpoop-button-v3.png');
    background-size: cover;
    background-color: transparent;
}

.downpoop-button-success {
    width: 48px;
    height: 48px;
    background-image: url('./icons/downpoop-success-v3.png');
    background-size: cover;
    border-radius: 5px;
}

.downpoop-count-success {
    color: #5A2A0A;
    font-weight: bold;
}

.kick-button {
    width: 48px;
    height: 48px;
    background-image: url('./icons/kick-button-v2.png');
    background-size: cover;
    background-color: transparent;
    border: none;
}

.smellTime {
    font-size: small;
}

.delete-smell {
    float: left;
}